.shopping-cart {
    padding: 0 10% 6rem 10%;

    .text-left {
        text-align: left;
    }
    .d-flex {
        display: flex;
        gap: 1rem;
    }
    .flex-column {
        flex-direction: column;
    }
    .justify-center {
        justify-content: center;
    }
    .justify-between {
        justify-content: space-between;
    }

    .cart-tab {
        justify-content: center;
    }

    h1 {
        text-align: center;
        font-size: 48px;
        font-weight: 400;
        line-height: 68px;
        margin-top: 0;
    }
    .cart-container {
        background: #FFF;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .product-list {
            table {
                border-collapse: collapse;

                thead tr {
                    border-bottom: 1px solid #C4C4C4;
                }

                th, td {
                    padding: 1.2rem 0;
                }

                th {
                    color: #828282;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;

                    + th {
                        padding-left: 3rem;
                    }
                }
                td {
                    + td {
                        padding-left: 3rem;
                    }

                    p {
                        margin: 0;
                        font-size: 18px;
                        font-weight: 500;
                        letter-spacing: 0.5px;
                        text-transform: uppercase;
                    }

                    .wrapper-btn {
                        padding: 3px;
                        width: max-content;
                        border: 1px solid #C4C4C4;
                        display: flex;

                        button {
                            border: 1px solid #C4C4C4;
                        }
                    }
                    .cart-btn-action {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        background-color: #E6F1FA;
                        width: 24px;
                        height: 24px;
    
                        &:first-child {
                            svg path {
                                stroke: #000;
                            }
                        }
                        &:hover {
                            background-color: #e6f1fabb;
                            svg path {
                                fill: red;
                                stroke: red;
                            }
                        }
                    }

                    .cart-btn{
                        font-family: 'Oswald', sans-serif;
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #ffffff;
                        color: #000000;
                        border: 1px solid #C4C4C4;
                        position: relative;
                        font-family: 'Oswald', sans-serif;
                        transition: all .3s ease-in-out;
                        max-width: 220px;
                        
                        &:hover {
                            background-color: #EB5757;
                            border: none;
                            
                            p {
                                color: #FFF;
                                margin-right: 10%;
                                transition: all .3s ease-in-out;
                            }
                        }
                        &:hover::after {
                            content: "";
                            position: absolute;
                            width: 10%;
                            background-color: #000;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            transition: all .3s ease-in-out;
                        }
                    }
                }

                
                tbody tr:last-child {
                    border-bottom: 1px solid #C4C4C4;
                }
            }
        }
        .checkout {

        }
    }
}